.SelectionsDrawer {
  position: relative;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  :global {
    .am-drawer-sidebar {
      background-color: #fff;
      overflow: auto;
      min-width: 320px;
      max-width: 100vw;
      width: 40vw;
      -webkit-overflow-scrolling: touch;
    }
  }
}




.clickIcon{
  cursor: pointer;
}
